<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>


	<!-- HTTP Strict Transport Security (HSTS) -->
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

</configuration>

<!-- //In your login action method 
	var result = await SignInManager.PasswordSignInAsync(model.Username, model.Password, model.RememberMe, lockoutOnFailure: false);
	if (result.Succeeded)
	{
	return RedirectToAction("Index", "Home");
	}
	else
	{
	ModelState.AddModelError("", "Invalid login attempt.");
	return View(model);
	} -->