@{
    ViewData["Title"] = "Home";
}
<!-- Need a landing page, description of the project, link to burial information-->
<div class="text-center">
    <h1 class="display-4">Whose Your Mummy?</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

